<!doctype html>
<html ng-app="quizApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>

    <script src="quizController.js"></script>
    <script src="jsonQuizResource.js"></script>
    <script src="quizResource.js"></script>
    <link rel="stylesheet" href="quiz.css">
</head>
<body>
<h2>Todo</h2>
<div ng-controller="QuizController">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="setQuiz('Short')">Get Test Quiz</a> ]
    or
    <select ng-model="myQuiz" ng-options="quiz.name for quiz in quizzes" ng-change="setQuiz(myQuiz.id)">
        <option value="">-- choose quiz --</option>
    </select>

    <div>
        Currently selected: {{ {selected_quiz:myQuiz.id} }}
        Currently selected: {{myQuiz.id}}
    </div>

    <form ng-submit="submitQuiz()">
        <!--<input type="text" ng-model="todoText"  size="30"-->
        <!--placeholder="add new todo here">-->
        <input class="btn-primary" type="submit" value="Analyze Your Answers">

        <!--<input type="text" ng-model="submitQuiz.answerScoreMofo"  size="30"-->
               <!--placeholder="Test ng-model for submitQuiz">-->

        <ul class="unstyled">
            <tt>Quiz Answers = {{submitQuiz.answerScore | json}}</tt><br/>
            <div ng-repeat="question in quiz.questions" >
                <!--{{question}}-->
                {{question.id}}: {{question.question}} ({{question.variable}}:{{question.sign}})
                <div>
                    <label ng-repeat="score in validScores" for="{{score}}">{{score}}
                        <input
                                type="radio"
                                ng-model="submitQuiz.answerScore[question.id]"
                                ng-value="{{score}}"
                                name="Q-{{question.id}}" required>
                    </label>
                    <tt>color = {{answerScore | json}}</tt><br/>
                </div>
            </div>
        </ul>

        <ul class="unstyled">
            <div ng-repeat="scoreHolder in scoreHolderList" >
                <!--{{question}}-->
                {{scoreHolder}}

            </div>
        </ul>

    </form>
</div>


<div d3-bars bar-height="20" bar-padding="5"></div>

</body>
</html>
